services:
  mariadb:
    image: mariadb:12.2.1-ubi10-rc
    container_name: fazenda-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: senhaForte
      MYSQL_DATABASE: bovinos
      MYSQL_USER: fazendeiro
      MYSQL_PASSWORD: senhaFazenda
    ports:
      - "3306:3306"
    volumes:
      - ./dados/mariadb:/var/lib/mysql
    networks:
      - fazenda-net

  grafana:
    image: grafana/grafana:12.1-ubuntu
    container_name: fazenda-grafana
    restart: always
    ports:
      - "3000:3000"
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Editor
    volumes:
      - ./dados/grafana:/var/lib/grafana
    networks:
      - fazenda-net

  mosquitto:
    image: eclipse-mosquitto
    container_name: fazenda-mosquitto
    restart: always
    ports:
      - "1883:1883"
    volumes:
      - ./dados/mosquitto/config:/mosquitto/config
      - ./dados/mosquitto/data:/mosquitto/data
      - ./dados/mosquitto/log:/mosquitto/log
    networks:
      - fazenda-net
    command: mosquitto -c /mosquitto/config/mosquitto.conf

  consumidor:
    build: ./consumidor
    container_name: fazenda-consumidor
    restart: always
    depends_on:
      - mariadb
      - mosquitto
    environment:
      - DB_HOST=fazenda-db
      - DB_USER=fazendeiro
      - DB_PASSWORD=senhaFazenda
      - DB_NAME=bovinos
      - MQTT_HOST=fazenda-mosquitto
      - MQTT_PORT=1883
      - MQTT_TOPIC=fazenda/sensores/#
    networks:
      - fazenda-net

networks:
  fazenda-net:
    driver: bridge

